@if (showAlert)
{
    <div class="row">
        <div class="col">
            <div class="alert row mb-2 pb-2 @AlertCssStyle" role="alert">
                @if (!string.IsNullOrEmpty(Icon))
                {
                    <div class="col-1">
                        <i class="@Icon"></i>
                    </div>
                }
                <div class="col">
                    @if (AlertList.Any())
                    {
                        <ul>
                            @foreach (var error in AlertList)
                            {
                                <li>@error</li>
                            }
                        </ul>
                    }
                    else if (CustomTextElement != null)
                    {
                        @CustomTextElement
                    }
                    else
                    {
                        @AlertText
                    }
                </div>
            </div>
        </div>
    </div>
}